<ul class="sidebar navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="">
            <i class="fas fa-user-alt"></i>
            <span>Thông tin cá nhân</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admins/list">
            <i class="glyphicon glyphicon-user"></i>
            <span>Danh sách admin</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/products/list">
            <i class="fas fa-fw fa-table"></i>
            <span>Quản lý sản phẩm</span></a>
    </li>
      <li class="nav-item">
        <a class="nav-link" href="/brands/list">
            <i class="fas fa-fw fa-table"></i>
            <span>Quản lý thương hiệu</span></a>
    </li>
    </li>
      <li class="nav-item">
        <a class="nav-link" href="/components/list">
            <i class="fas fa-fw fa-table"></i>
            <span>Quản lý thông số</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/users/list">
            <i class="fas fa-fw fa-table"></i>
            <span>Quản lý tài khoản </span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/orders/list">
            <i class="fas fa-fw fa-table"></i>
            <span>Quản lý đơn hàng </span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Thống kê </span></a>
    </li>
</ul>